:root{
    --primary-color: #D62D0B;
    --primary-color1:#0bb4d6;
    --secondary-color: #f4f9ff;
    --background-color: #0C0C0C;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100vw;
    overflow-x: hidden;
}
#navbar{

    height: object-fit;
    width: 100%;
    height: 70px;
    color: var(--secondary-color);
    /* background-color: var(--background-color); */
    background-color: rgb(29, 26, 26);
}

#navbar ol{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.part1, .part2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.part1{
    width: 150px;
   
}
.part1 p{
    font-family: cursive;
    font-weight: 600;
}
.part2{
    width: 50%;
    
    flex-wrap: wrap;
}
.part2 a{
    margin: 0 10px;
    text-decoration: none;
   
}

.part3{
    width: 20%;
    max-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar button{
    padding:  3px 5px;
    min-width:60px;
}
#navbar li{
    list-style-type:none;
    color: var(--secondary-color);

}


#navbar , #navbar li{
    font-size: large;
}


#home{
    height: calc(100vh - 70px);
    max-height: calc(100vh - 50px);
    /* background-color: red; */
    background-image: url("/assets/preview\ \(1\).webp");
}

.overlay{
    background-color: var(--background-color);
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0 10.5rem 0 2rem;
}

.text-content{
    width: 60%;
    padding: 1rem 0 0 2rem;
    color: var(--secondary-color);
    
}

.header{
    margin-bottom: 1.2rem;
    font-size: xx-large;
}

.subheading{
    text-align: justify;
    font-size: 0.8rem;
}
.wave-img{
    width: 100vw;
    overflow: hidden;
    height: 50%;
}

.wave-img img{
    width: 100%;

    object-fit: fill;
}
.button-1{
    margin-top: 20px;}

.button-1 button{
    padding: 5px;
    border-radius: 6px;
    width: 120px;
    border: none;
    font-size: 1.03rem;
    color: white;
    height: 40px;
}

.button-1 button:nth-child(1){
    margin-right: 20px;
    background-color: var(--primary-color1);
}

.button-1 button:nth-child(2){
    background-color: var(--primary-color);
}

.waakye{
    position: relative;
    top:50px;
    height: 80%;
    width: 18%;
    border: white 8px solid;
    border-radius: 100%;
}

.waakye img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 100%;
}

/* Menu heading */

#menu{
    width: 100vw;
    height: fit-content;
    padding-top: 50px;
    /* background-color: #e3f7fc; */

}
a{
    text-decoration: none;
}

.heading{
    font-size:2rem;
    font-family: cursive;
    font-weight: bolder;
    text-align: center;
    background: linear-gradient(var(--primary-color1), var(--primary-color));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* menu mavigation section */
.menu-nav{
    width: 100vw;
    height: fit-content;
    /* background-color: #0bb4d6; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem 2rem 0 2rem;
    
}

.menu-tile{
    height: 120px;
    width: 120px;
    border: 2px solid #0bb4d6;
    border-radius: 10px;
    padding-bottom: 6px
    

}

.menu-tile img{
    width: 100%;
    height: 80%;
    
}
.menu-tile p{
    text-align: center;
    color: black;
}

#starters, #main, #side_dish, #drink, #desserts{
    padding-top: 4rem;
}

#menu header:not(.heading){
    font-size: 1.6rem;
    font-weight: 700;
    font-family:cursive;
    padding-left: 7rem;
}
#starter, #main_course, #sides, #drinks, #dessert{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4rem 1rem 4rem;
    margin: 2rem auto 0 auto;
    height: fit-content;

    justify-content: space-evenly;
}

.dish{
    width: 18%;
    margin: 20px;
    height: 350px;
    min-width: 230px;
    display: block;
    
    /* background-color: rgb(228, 220, 220); */
}

.name, .description{
    text-align: left;
}
.dish button{
    width: 100%;
    height: 35px;
    background-color: #D62D0B;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: large;
    font-weight: 500;

}

.dish .image{
    width: 100%;
    height: 50%;
    

}
.dish img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    
}

.rating i{
    color: var(--primary-color);
    margin-right: 12px;
}
.description, .rating, .price{
    font-size: 0.8rem ;
    margin: 5px 0;
}

.name{
    font-weight: 500;
margin:5px 0;
font-size: 1.06rem;
}